<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<title><%- title -%></title>
	</head>
	<body>
        <p>Hello World</p>
        <script>
            //let client = null;
            //$(window).on('load', () => client = new Client());
        </script>
    </body>
</html>